/* 
Theme Name: DynamiX Child Theme Clean
Theme URI: http://themeva.com
Author: themeva
Version: 1.0
Template: DynamiX
Description: DynamiX Wordpress Child Theme
Author URI: http://themeva.com
License: GNU General Public License
License URI: license.txt
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, post-formats, rtl-language-support, theme-options, translation-ready, buddypress
*/

@import url("../DynamiX/style.css");